body, html, .content-wrapper{
  background-color: white;
  height:100%;
  height:calc(100%);
  color: #3f3f3f;
}

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;

  &.align-middle {
    float: none;
  }
}

.cursor--pointer {
  cursor: pointer;
}
.cursor--move {
  cursor: move;
}
.cursor--progress {
  cursor: progress;
}