// extension of bootstrap padding classes
.p-y-5 {
  padding: 5% 0;
}
.p-t-5 {
  padding: 5% 0;
}
.p-b-5 {
  padding: 5% 0;
}

.p-y-10 {
  padding: 10% 0;
}
.p-t-10 {
  padding: 10% 0;
}
.p-b-10 {
  padding: 10% 0;
}

.p-y-15 {
  padding: 15% 0;
}
.p-t-15 {
  padding: 15% 0;
}
.p-b-15 {
  padding: 15% 0;
}

.p-y-20 {
  padding: 20% 0;
}
.p-t-20 {
  padding: 20% 0;
}
.p-b-20 {
  padding: 20% 0;
}